header {
    text-align: center;
}
#headerImage {
    
}
main, footer {
    margin: 2%;
    text-align: center;
}
html {
    scroll-behavior: smooth;
}
* {
    font-family: 'Open Sans', sans-serif;
}
.carousel {
    width:50%;
    height:50%;
    margin: auto;
  }